<h1>Articles List</h1>

<table>
    <thead>
        <th>
        <tr>Title</tr>
        <tr>Description</tr>
        <tr colspan="3">Actions</tr>
    </th>
    </thead>
    <tbody>
        
    </tbody>    
</table>

